{% extends "account/base_card.html" %}

{% load i18n %}

{% block card-header %}<h2>{% trans "CHANGE PASSWORD" %}</h2>{% endblock %}

{% block card-body %}
    <h1>{% trans "CHANGE PASSWORD" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
